<h1 mat-dialog-title>Tap to select color</h1>
<mat-grid-list cols="4">
  <mat-grid-tile><div class="color-picker color-picker-bg-1" (click)="onColorSelected('#D50000')"></div></mat-grid-tile>
  <mat-grid-tile><div class="color-picker color-picker-bg-2" (click)="onColorSelected('#C51162')"></div></mat-grid-tile>
  <mat-grid-tile><div class="color-picker color-picker-bg-3" (click)="onColorSelected('#AA00FF')"></div></mat-grid-tile>
  <mat-grid-tile><div class="color-picker color-picker-bg-4" (click)="onColorSelected('#4A148C')"></div></mat-grid-tile>
  <mat-grid-tile><div class="color-picker color-picker-bg-5" (click)="onColorSelected('#311B92')"></div></mat-grid-tile>
  <mat-grid-tile><div class="color-picker color-picker-bg-6" (click)="onColorSelected('#1A237E')"></div></mat-grid-tile>
  <mat-grid-tile><div class="color-picker color-picker-bg-7" (click)="onColorSelected('#0D47A1')"></div></mat-grid-tile>
  <mat-grid-tile><div class="color-picker color-picker-bg-8" (click)="onColorSelected('#0091EA')"></div></mat-grid-tile>
  <mat-grid-tile><div class="color-picker color-picker-bg-9" (click)="onColorSelected('#00B8D4')"></div></mat-grid-tile>
  <mat-grid-tile><div class="color-picker color-picker-bg-10" (click)="onColorSelected('#00BFA5')"></div></mat-grid-tile>
  <mat-grid-tile><div class="color-picker color-picker-bg-11" (click)="onColorSelected('#00C853')"></div></mat-grid-tile>
  <mat-grid-tile><div class="color-picker color-picker-bg-12" (click)="onColorSelected('#64DD17')"></div></mat-grid-tile>
  <mat-grid-tile><div class="color-picker color-picker-bg-13" (click)="onColorSelected('#263238')"></div></mat-grid-tile>
  <mat-grid-tile><div class="color-picker color-picker-bg-14" (click)="onColorSelected('#FFD600')"></div></mat-grid-tile>
  <mat-grid-tile><div class="color-picker color-picker-bg-15" (click)="onColorSelected('#3E2723')"></div></mat-grid-tile>
  <mat-grid-tile><div class="color-picker color-picker-bg-16" (click)="onColorSelected('#212121')"></div></mat-grid-tile>

</mat-grid-list>
