<app-main-nav [isProcessing]="isProcessing">
  <app-breadcrumb-actions class="full-width" [pageHeaderOptions]="pageHeaderOptions"
    (dataRefreshed)="onDataRefreshed($event)">
    <div mainAction>
      <button mat-raised-button *ngIf="!isPartner" color="accent" (click)="addOrUpdateDiscount()">
        ADD
      </button>
    </div>
  </app-breadcrumb-actions>


  <mat-card>

    <mat-card-content class="ml-3 mr-3">
      <app-table-header-actions [tableHeaderOptions]="tableHeaderOption" (searchTextChanged)="onSearch($event)">


      </app-table-header-actions>
      <div class="table-responsive">
        <table class="table dataTable no-footer table-border-bottom">
          <thead>
            <tr role="row">
              <th class="wd-15p">Name</th>
              <th class="wd-15p">Promo Type</th>
              <th class="wd-15p">Promo Code Usage</th>
              <th class="wd-15p">Start Date</th>
              <th class="wd-15p">End Date</th>
              <th class="wd-15p">Shop</th>
              <th class="wd-25p text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!isProcessing && customerDiscounts?.length <= 0">
              <td colspan="10" class="text-center">
                <app-empty-record></app-empty-record>
              </td>
            </tr>
            <tr *ngFor="let discount of customerDiscounts">
              <td>{{discount?.name}}</td>
              <td>{{discount?.promo_type | removeUnderScore}}</td>
              <td>
                <span *ngIf="discount?.code_usage_type === promoCodeUsageTypes?.SINGLE" >UNIQUE CODE FOR EACH CUSTOMER
                </span>
                <span *ngIf="discount?.code_usage_type === promoCodeUsageTypes?.MULTIPLE">1 CODE FOR MULTIPLE CUSTOMERS
                </span>
              </td>
              <td>{{discount?.start_date | date: 'medium'}}</td>
              <td>{{discount?.end_date | date: 'medium'}}</td>
              <td>{{discount?.myshop?.business_name}}</td>


              <td class="text-center">

                <button mat-icon-button [matMenuTriggerFor]="menu" >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">

                  <button mat-menu-item (click)="addOrUpdateDiscount(true, discount)"
                   *ngIf="!isPartner">
                    <span>Edit</span>
                  </button>
                  <button mat-menu-item (click)="viewPromotionDetail(discount?.id, discount?.name, discount?.myshop?.id)" >View Detail</button>

                </mat-menu>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <app-pagination [dataSet]="customerDiscounts" [nextPage]="nextPage" [prevPage]="prevPage" [totalPage]="totalPage"
        [requestPayload]="requestPayload" [requestMethod]="'POST'" (pageChanged)="onPageChanged($event)"
        [isProcessing]="isProcessing"></app-pagination>
    </mat-card-content>

  </mat-card>

</app-main-nav>

