<div mat-dialog-content>
  <div class="col-md-12">
    <div class="">
      <div class="mb-4">
        <h3 class="campaign-title mb-3">
          {{message?.title | titlecase}}</h3>
        <p class="campaign-content">{{message?.message}}</p>
      </div>
      <!-- <div class="campaign-image">
          <img *ngIf="message?.message_type === messageType?.EMAIL || message?.message_type === messageType?.ALL"
            [src]="message?.image" class="img-campaign-detail">
        </div> -->
        <hr class="mx-0">
      <div class="row mb-3">
        <span class="col-md-5">Message Type:</span>
        <span class="col-md-7 pull-right font-weight-600">{{message?.message_type | removeUnderScore | titlecase}}
        </span>
      </div>
      <div class="row mb-3">
        <span class="col-md-5">Template Type:</span>
        <span class="col-md-7 pull-right font-weight-600">{{message?.template_type | removeUnderScore | titlecase}}
        </span>
      </div>
      <div *ngIf="message?.is_recurring  !== 'null' && message?.is_recurring !== ' ' ">
        <div class="row mb-3" >
          <div class="col-md-5">Recurring:</div>
          <span class="col-md-7 pull-right font-weight-600">
            <span *ngIf="message?.is_recurring === true">YES</span>
            <span *ngIf="message?.is_recurring === false">NO</span>
          </span>
        </div>
        <div class="row" *ngIf="message?.is_recurring === true">
          <div class="col-md-5">Recurring Date: </div>
          <span class="col-md-7 pull-right font-weight-600">{{message?.recurring_date | date: 'MMMM dd - hh:mm:ss a'}} </span>
        </div>
      </div>
      <div class="card-footer pull-right">
        <mat-dialog-actions class="pull-right">
          <button mat-raised-button mat-dialog-close>Close</button>
        </mat-dialog-actions>
      </div>
    </div>
  </div>
</div>
