<div class="step-content">

  <div class="step-content-heading">
    <img class="step-heading-img" src="assets/img/icons/template.svg" />
    <p class="text-primary step-content-heading-desc">This is how your StoreFront Mall looks like</p>
  </div>
  <div >
    <div class="mall-template-preview mt-4">
      <img src="assets/img/icons/default-template.svg" alt="" class="preview-img">
    </div>

  </div>
</div>


<div class="stepper-bottom-action">
  <div class="step-left-action">
    <!-- <a [routerLink]="['/onboarding/mall-template']" [queryParams]="{ step: 5 }" mat-raised-button>BACK</a> -->
  </div>
  <div class="stepper-right-action">
  <a [routerLink]="['/onboarding/subscription-payment']" [queryParams]="{ step: 7 }" mat-raised-button color="primary">NEXT</a>
  </div>
</div>
