<app-main-nav  [isProcessing]="isProcessing" >
  <app-breadcrumb-actions class="full-width d-print-none" [pageHeaderOptions]="pageHeaderOptions" (dataRefreshed)="onDataRefreshed($event)"></app-breadcrumb-actions>

  <mat-card >
      <mat-card-header class="full-width mat-card-header-text-full-width d-print-none">
            <mat-card-title >
              Previewing barcode(s) for {{productsWithBarcodes?.length}} out of {{count}} product(s)
            </mat-card-title>

        </mat-card-header>
    <mat-card-content>
      <div class="row d-print-none">
        <div class="col-md-12">
          <mat-form-field  class="full-width" appearance="outline">
            <span matPrefix><mat-icon matSuffix>search</mat-icon> &nbsp;</span>
            <mat-label>Search Product</mat-label>
          <input matInput  placeholder="Search Product" [formControl]="searchFormControl">
        </mat-form-field>
        </div>
      </div>
      <div class="table-responsive ">
        <div   class="preview-barcodes d-print-none" id="barcodeBody">
          <div class="barcode-item" *ngFor="let item of productsWithBarcodes">
            {{item?.name}}

          <ngx-barcode [bc-value]="item?.serial_number" [bc-display-value]="true"></ngx-barcode>
          <button mat-icon-button color="primary" class="d-print-none" (click)="configureBarcodeGeneration(item)" >
              <mat-icon class="mat-18">print</mat-icon>
          </button>
          </div>
        </div>
        <div class="text-center d-print-none">
          <button mat-raised-button color="primary" (click)="loadMoreData()"  [disabled]="isProcessingMore || nextPageUrl === null || nextPageUrl === '' || nextPageUrl === undefined">
            Load More  ({{productsWithBarcodes?.length}}/{{count}})
            <i *ngIf="isProcessingMore" class="fa fa-spinner fa-spin"></i></button>
        </div>

        <div   class="preview-barcodes d-non printOnly d-print-flex">
          <div class="barcode-item" *ngFor="let item of numbers">
            {{productDetail?.name}}
          <ngx-barcode  [bc-value]="productDetail?.serial_number" [bc-display-value]="true"></ngx-barcode>

          <button mat-stroked-button  *ngIf="(numbers?.length > 0 && item === (numbers?.length - 1) && count === 1)" color="primary" class="mr-2 d-print-none" >{{exportAsPDF()}}</button>
          </div>
        </div>
      </div>

    </mat-card-content>

  </mat-card>

</app-main-nav>

