<h1 mat-dialog-title>{{editStockModalTitle}}</h1>
<mat-progress-bar mode="indeterminate" *ngIf="isProcessing"></mat-progress-bar>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup?.value)">
  <div mat-dialog-content>
    <div class="row">
      <mat-form-field class="col-md-12">
        <mat-label>Select Shop</mat-label>
        <mat-select formControlName="shop_id" (selectionChange)="onShopChanged($event?.value)">
          <mat-option *ngFor="let item of myShops" [value]="item?.id">{{item?.business_name}}</mat-option>
        </mat-select>
        <mat-hint class="text-danger" *ngIf="!shop_id?.valid && shop_id?.touched">Please select Shop</mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-md-12">
        <input type="text" matInput placeholder="Customer Name" formControlName="name">
        <mat-hint class="text-danger" *ngIf="!name?.valid && name?.touched">Please enter Customer Name</mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-md-12">
        <app-intl-country-codes matPrefix (countryCodeSelected)="onCountry($event)"></app-intl-country-codes>
        <input matInput placeholder="Phone Number" formControlName="phone_number" numbersOnly>        <mat-hint class="text-danger" *ngIf="!phone_number?.valid && phone_number?.touched">Please enter Customer Phone Number</mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-md-12">
        <input type="text" matInput placeholder="Customer Email" formControlName="email">
        <mat-hint class="text-danger" *ngIf="!email?.valid && email?.touched">Please enter valid Customer Email</mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-md-12">
        <input type="text" matInput placeholder="Customer Address" formControlName="address">
        <mat-hint class="text-danger" *ngIf="!address?.valid && address?.touched">Please enter Customer Address</mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-md-12">
        <mat-label>Select Customer Group</mat-label>
        <mat-select formControlName="customer_group_id">
          <mat-option *ngFor="let item of productGroups" [value]="item?.id">{{item?.name}}</mat-option>
        </mat-select>
        <button type="button" mat-button matSuffix mat-icon-button aria-label="Add Customer Group"
        (click)="addCustomerGroup()">
        <mat-icon>add</mat-icon>
      </button>
        <mat-hint class="text-danger" *ngIf="!customer_group_id?.valid && customer_group_id?.touched">Please select Customer Group</mat-hint>
      </mat-form-field>

    </div>

  </div>

  <mat-dialog-actions class="text-right mb-1">
    <button mat-raised-button mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" [disabled]="formGroup?.invalid || isProcessing"
      type="submit">Save</button>
  </mat-dialog-actions>
</form>
