<app-main-nav [isProcessing]="isProcessing">
  <app-breadcrumb-actions class="full-width" [pageHeaderOptions]="pageHeaderOptions"
    (dataRefreshed)="onDataRefreshed($event)">
    <div mainAction>
      <button mat-raised-button *ngIf="!isPartner" color="accent" (click)="addOrUpdateCategory()">
        ADD
      </button>
    </div>
  </app-breadcrumb-actions>


  <mat-card>

    <mat-card-content class="ml-3 mr-3">
      <app-table-header-actions [tableHeaderOptions]="tableHeaderOption" (searchTextChanged)="onSearch($event)">

      </app-table-header-actions>
      <div class="table-responsive">
        <table class="table dataTable no-footer table-border-bottom">
          <thead>
            <tr role="row">
              <th class="wd-15p">Name</th>
              <th class="wd-15p">Discount</th>
              <th class="wd-15p">No. of Members</th>
              <th class="wd-15p">Shop</th>
              <th class="wd-25p text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!isProcessing && customerCatgories?.length <= 0">
              <td colspan="10" class="text-center">
                <app-empty-record></app-empty-record>
              </td>
            </tr>
            <tr *ngFor="let item of customerCatgories">
              <td>{{item?.name}}</td>
              <td>{{item?.discount?.name}} <span *ngIf="item?.discount !== null && item?.discount !== undefined"> (<span *ngIf="!item?.discount?.is_percentage">{{item?.discount?.currency}}</span> {{item?.discount?.value}} <span *ngIf="item?.discount?.is_percentage" >%</span>) </span></td>
              <td>{{item?.num_of_members}}</td>
              <td>{{item?.myshop?.business_name}}</td>


              <td class="text-center">

                <button mat-icon-button [matMenuTriggerFor]="menu" >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">

                  <button mat-menu-item (click)="addOrUpdateCategory(true, item)"
                   *ngIf="!isPartner">
                    <span>Edit</span>
                  </button>
                  <a [routerLink]="['/customers']" [queryParams]="{gId: item?.id, gName: item?.name, s: item?.myshop?.id}" mat-menu-item *ngIf="!isPartner" >
                    <span>View Customers</span>
                  </a>
                </mat-menu>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <app-pagination [dataSet]="customerCatgories" [nextPage]="nextPage" [prevPage]="prevPage" [totalPage]="totalPage"
        [requestPayload]="requestPayload" [requestMethod]="'POST'" (pageChanged)="onPageChanged($event)"
        [isProcessing]="isProcessing"></app-pagination>
    </mat-card-content>

  </mat-card>

</app-main-nav>

