<div mat-dialog-content class="congratulation">
    <img class="congratulation-img" src="/assets/img/icons/cup.svg">
    <p class="congratulation-heading">Congratulations! You made it!</p>
    <p class="congratulation-desc">Your Store has been successfully created. Thank you for choosing us.</p>
    <!-- <b class="mb-3">NOTE: Your store is on 30 Days Free Trial, Upgrade before the 30days to continue using this product.</b> -->
    <div class="mt-3">
        <button class="mt-3" (click)="onJumpIn()" mat-raised-button color="primary">Lets get started</button>
        <!-- <button class="pull-left" (click)="onUpgrade()" mat-raised-button color="primary">Upgrade to Premium</button> -->
        <!-- <button class="pull-right" (click)="onJumpIn()" mat-raised-button color="primary">Let's get started</button> -->
    </div>
      
  </div>
