<h1 mat-dialog-title>{{editStockModalTitle | uppercase}}</h1>
<mat-progress-bar mode="indeterminate" *ngIf="isProcessing"></mat-progress-bar>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup?.value)">
  <div mat-dialog-content>
    <div *ngFor="let item of edithSHopControls" >
      <app-dynamic-form-controls [form]="formGroup" [control]="item"></app-dynamic-form-controls>
    </div>
  </div>

  <mat-dialog-actions class="text-right">
    <button type="button" mat-raised-button (click)="onClose()">Close</button>
    <button mat-raised-button color="primary" [disabled]="formGroup?.invalid || isProcessing"
      type="submit">Save</button>
  </mat-dialog-actions>
</form>
