<div mat-dialog-content>
  <div class="container">
    <h1 class="header underline">Product Images Guidelines:</h1>
            <ul>
                <li>Required dimensions 270 x 270 pixels</li>
                <li>Should be your product image or service included with text information e.g description and product name.</li>
            </ul>
            <h3 class="header underline">Do's and Don'ts for better Product Images:</h3>
            <h5 class="good">DOs</h5>
            <p>Where possible please follow these DOs to better your Product Images:</p>
            <ul>
                <li>Do take photos during the daytime</li>
                <li>Do position the item next to a window with natural light</li>
                <li>Do keep the product and background clean and simple e.g white background or black background</li>
                <li>Do use a plain, neutral color surface or table cloth if necessary</li>
                <li>Do ensure product is sharp and clear</li>
                <li>Do maintain consistency to give your photos a uniform look</li>
            </ul>


            <h5 class="bad">Don'ts</h5>
            <p>Where possible please follow avoid these Don'ts to better your Product Images:</p>
            <ul>
                <li>Don't use flash light from your camera</li>
                <li>Don't take photos at night</li>
                <li>Don't take pictures under fluorescent lighting</li>
                <li>Don’t make the photo complicated</li>
            </ul>
        </div>

        <h3 class="header underline bad">Bad Product Image examples:</h3>
            <br>
            <div class class="row">
            <div class="col-sm-6">
            <div class="card border-danger product-img-example">
                <img src="./assets/img/product-example/bad_1.jpeg" class="card-img-top" alt="bad product image example">
                <div class="card-body">
                    <p class="card-title underline bad">Bad</p>
                  <p class="card-text">This product image has a background that is messy and cluttered, this doesn't draw the focus of the potential customer to the product but the messy background.<br>To make this better have a clean background that puts your product at the forefront of the image.</p>
                </div>
              </div>
              </div>

              <div class="col-sm-6">
                <div class="card border-danger product-img-example">
                    <img src="./assets/img/product-example/bad_2.jpeg" class="card-img-top" alt="bad product image example">
                    <div class="card-body">
                        <p class="card-title underline bad">Bad</p>
                      <p class="card-text">This product image is blurry and has a background that is messy and cluttered, this doesn't draw the focus of the potential customer to the product but the messy background.<br>To make this better have a clean background that puts your product at the forefront of the image.</p>
                    </div>
                  </div>
                  </div>
            </div>

            <h3 class="header underline bad">Good Product Image examples:</h3>
            <br>
            <div class class="row">
            <div class="col-sm-6">
            <div class="card border-danger product-img-example">
                <img src="./assets/img/product-example/white-on-white-correct.jpg" class="card-img-top" alt="good product image example">
                <div class="card-body">
                    <p class="card-title underline bad">Good</p>
                  <p class="card-text">This product image has a background that is plain white and draws the focus of the potential customer to the product.</p>
                </div>
              </div>
              </div>

              <div class="col-sm-6">
                <div class="card border-danger product-img-example">
                    <img src="./assets/img/product-example/whitebackground-red-bag.jpg" class="card-img-top" alt="good product image example">
                    <div class="card-body">
                        <p class="card-title underline bad">Good</p>
                        <p class="card-text">This product image is sharp, it has a background that is plain white and draws the focus of the potential customer to the product.</p>
                    </div>
                  </div>
                  </div>
            </div>

</div>
