<h1 mat-dialog-title>Change PIN</h1>
<mat-progress-bar mode="indeterminate" *ngIf="isProcessing"></mat-progress-bar>
<form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit(loginFormGroup?.value)">
 <div mat-dialog-content>
  <mat-form-field class="full-width rm-field-top  mt-3">
    <mat-label>Enter your old 6 Digit PIN</mat-label>
    <input matInput placeholder="Enter your old 6 Digit PIN" formControlName="old_password"  maxlength="6"  [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
    <mat-hint *ngIf="old_password?.invalid && old_password?.touched"  class="text-danger">Please provide valid OTP code</mat-hint>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Enter your new 6 Digit PIN</mat-label>
    <input matInput placeholder="Enter your new 6 Digit PIN" [type]="hide ? 'password' : 'text'" maxlength="6"  formControlName="password"/>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    <mat-hint *ngIf="password?.invalid && password?.touched" class="text-danger">Enter your new 6 Digit PIN</mat-hint>
  </mat-form-field>
  <mat-form-field class="full-width mb-3">
      <mat-label>Confirm your new 6 Digit PIN</mat-label>
      <input matInput placeholder="Confirm your new 6 Digit PIN" [type]="hideConfirmPIN ? 'password' : 'text'" maxlength="6"  formControlName="confirm_password"/>
      <button mat-icon-button matSuffix (click)="hideConfirmPIN = !hideConfirmPIN" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPIN">
          <mat-icon>{{hideConfirmPIN ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
      <mat-hint *ngIf="confirm_password?.invalid && confirm_password?.touched" class="text-danger">Confirm your new 6 Digit PIN</mat-hint>
    </mat-form-field>
 </div>

  <mat-dialog-actions class="text-right">
    <button mat-button mat-dialog-close class="">Close</button>
    <button mat-raised-button color="primary" [disabled]="loginFormGroup?.invalid || isProcessing" >Change PIN</button>
  </mat-dialog-actions>
</form>
