<app-main-nav [isProcessing]="isProcessing">
    <app-breadcrumb-actions class="full-width" [pageHeaderOptions]="pageHeaderOptions">

    </app-breadcrumb-actions>

    <mat-card class="card-margins">
        <div class="row">
            <div class="col-12 mb-4">
                <span (click)="goBack()">
                    <mat-icon class="cursor-pointer">arrow_back</mat-icon>
                </span>
                <!-- <span class="freshdesk-page-title article-detail-title">{{articleDetail?.title}}</span> -->
            </div>
        </div>
        <div class="spinner-wrapper" *ngIf="isProcessing && !articleDetail">
            <mat-spinner></mat-spinner>
        </div>
        <div class="row" *ngIf="!articleDetail && !isProcessing">
            <div class="col-12">
                <app-empty-record></app-empty-record>
            </div>
        </div>
        
        <!-- <div class="article-iframe-wrapper">
             <iframe [src]="articleVideo"></iframe>
        </div> -->
        <article *ngIf="articleDetail">
            <p class="pb-10px">
                <!-- <iframe  sandbox="allow-same-origin" [att.srcDoc]="articleDetail.description"></iframe> -->
                <span [innerHTML]="articleDetail?.description"></span>
            </p>
        </article>
        <p class="faq-tips"> <span class="mr-2"><i class="fe fe-tag" ></i></span> {{articleDetail?.tags}}</p>

        <!-- <div class="row">
            <div class="col-md-6 top-pull-negative">
                <span class="article-bottom-icon">
                    <mat-icon mat-icon>visibility</mat-icon> <span class="font-weight-600">{{articleDetail?.hits}}</span>
                    <span class="mx-3"><mat-icon mat-icon>thumb_up</mat-icon> <span class="font-weight-600">{{articleDetail?.thumbs_up}}</span></span>
                    <mat-icon mat-icon>thumb_down</mat-icon> <span class="font-weight-600">{{articleDetail?.thumbs_down}}</span>
                </span>
            </div>
            <div class="col-md-6">
                <span class="pull-right">Last Updated: {{articleDetail?.updated_at | date: 'medium'}}</span>
            </div>
        </div> -->
    </mat-card>
</app-main-nav>