<div class="d-flex bd-highlight login-page">
  <div class="p-2 flex-fill bd-highlight login-controls">
    <div class="mr-5 ml-5 full-width">
      <img class="login-logo mb-4" src="assets/img/logos/logo1.png" />
      <h3 class="login-title mb-4">Enter your phone number to get started</h3>
      <div class="login-form-controls">
        <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit(loginFormGroup?.value)">
            <mat-form-field class="full-width mb-3">
                <app-intl-country-codes matPrefix (countryCodeSelected)="onCountry($event)"></app-intl-country-codes>
                <input matInput placeholder="Phone Number" formControlName="phone_number" numbersOnly>

                <mat-hint *ngIf="phone_number?.invalid && phone_number?.touched" class="text-danger">Please provide valid
                  Phone Number</mat-hint>
              </mat-form-field>
              <div class="row mlr-0 mb-4">
                <mat-checkbox formControlName="send_code_via_whatsapp">Send me code via whatsApp</mat-checkbox>

              </div>

          <mat-progress-bar class="mb-0" *ngIf="isProcessing" mode="indeterminate">
          </mat-progress-bar>
          <button mat-raised-button color="primary" class="full-width"
            [disabled]="isProcessing || loginFormGroup?.invalid || countryCode === ''">SEND CODE</button>

            <div class="text-center mt-2">
              <a [routerLink]="['/login']" class="text-primary cursor-pointer">Remember
                PIN?</a>
          </div>
        </form>

      </div>
    </div>
  </div>
  <div class="flex-fill bd-highlight image-cover hidden-md-down">

    <div class="bottom-text">
      <h4 class="bottom-text-title">Smarter way of doing business</h4>
      <p class="bottom-text-description">We help you run your business The New Smart way</p>
    </div>
  </div>
</div>
