<app-main-nav [isProcessing]="isProcessing">
    <app-breadcrumb-actions class="full-width" [pageHeaderOptions]="pageHeaderOptions">

    </app-breadcrumb-actions>

    <div>
        <div class="row mt-4 justify-content-center">
            <div class="col-xl-8 col-lg-9 col-md-10 col-sm-12 mb-3">
                <mat-card>
                    <form [formGroup]="accountFormGroup" (ngSubmit)="onSubmit(accountFormGroup?.value)">
                        
                        <div class="m-3 pb-4">
                            <div class="row">
                                <mat-form-field class="col-md-12">
                                    <mat-label>Select Shop</mat-label>
                                    <mat-select formControlName="accountReference">
                                        <mat-option *ngFor="let item of myShops" [value]="item?.paga_unique_code">
                                            {{item?.business_name}}</mat-option>
                                    </mat-select>
                                    <mat-hint class="text-danger" *ngIf="!accountReference?.valid && accountReference?.touched">
                                        Please select Credit Bank</mat-hint>
                                </mat-form-field>

                                <mat-form-field class="col-md-12">
                                    <input matInput placeholder="First Name" formControlName="firstName" required>
                                    <mat-hint class="text-danger" *ngIf="!firstName?.valid && firstName?.touched">Please enter First Name</mat-hint>
                                </mat-form-field>

                                <mat-form-field class="col-md-12">
                                    <input matInput placeholder="Last Name" formControlName="lastName" required>
                                    <mat-hint class="text-danger" *ngIf="!lastName?.valid && lastName?.touched">Please enter Last Name</mat-hint>
                                </mat-form-field>

                                <mat-form-field class="col-md-12">
                                    <input matInput placeholder="Paga Account Name" formControlName="accountName"
                                        required>
                                    <mat-hint class="text-danger" *ngIf="!accountName?.valid && accountName?.touched">
                                        Please enter Account Name</mat-hint>
                                </mat-form-field>

                                <mat-form-field class="col-md-12">
                                    <input matInput placeholder="Bank Verification Number"
                                        formControlName="financialIdentificationNumber">
                                    <mat-hint class="text-danger" *ngIf="!financialIdentificationNumber?.valid && financialIdentificationNumber?.touched">
                                        Please enter Bank verification Number (BVN)</mat-hint>
                                </mat-form-field>

                                <mat-form-field class="col-md-12">
                                    <app-intl-country-codes matPrefix (countryCodeSelected)="onCountry($event)">
                                    </app-intl-country-codes>
                                    <input matInput placeholder="Phone Number" formControlName="phoneNumber"
                                        numbersOnly>
                                    <mat-hint class="text-danger" *ngIf="!phoneNumber?.valid && phoneNumber?.touched">
                                        Please enter Phone Number</mat-hint>
                                </mat-form-field>

                                <!-- <mat-form-field class="col-md-12">
                                    <input type="text" matInput placeholder="Email" formControlName="email">
                                    <mat-hint class="text-danger" *ngIf="!email?.valid && email?.touched">Please enter valid Email</mat-hint>
                                </mat-form-field> -->
                                <!-- <div class="col-md-12">
                                    <mat-checkbox [formControl]="canLinkBankCtrl">I want to link my Bank Account </mat-checkbox>
                                </div> -->
                                <!-- <mat-form-field class="col-md-12" *ngIf="canLinkBankCtrl?.value === true">
                                    <mat-label>Select Credit Bank</mat-label>
                                        <mat-select formControlName="creditBankId">
                                        <mat-option *ngFor="let item of pagaBanks" [value]="item?.uuid">{{item?.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-hint class="text-danger" *ngIf="!creditBankId?.valid && creditBankId?.touched">
                                        Please select Credit Bank</mat-hint>
                                </mat-form-field>
    
                                <mat-form-field class="col-md-12" *ngIf="canLinkBankCtrl?.value === true">
                                    <input matInput placeholder="Bank Account Number" formControlName="creditBankAccountNumber">
                                    <mat-hint class="text-danger" *ngIf="!creditBankAccountNumber?.valid && creditBankAccountNumber?.touched">
                                        Please enter Bank Account Number</mat-hint>
                                </mat-form-field> -->

                            </div>
                            
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button mat-button mat-raised-button color="primary" [disabled]="!accountFormGroup?.valid">Submit</button>
                                </div>
                            </div>
                        </div>       
                    </form>
                    <!-- <div class="">
                        <button (click)="generateShopCode()">generate</button>
                    </div> -->
                </mat-card>

            </div>
            <!-- <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="paga-cc">
                    <img src="assets/img/cc-paga.jpg" alt="">
                    <span class="row">
                        <span class="col-9">
                            <span class="business-name">{{shopName}}</span>
                        </span>
                        <span class="col-3"></span>
                    </span>
                </div>
            </div> -->

        </div>
    </div>
</app-main-nav>