<app-main-nav [isProcessing]="isProcessing">
  <app-breadcrumb-actions class="full-width" [pageHeaderOptions]="pageHeaderOptions">

  </app-breadcrumb-actions>
  <mat-card class="card-margins">


    <mat-card-content class="ml-3 mr-3">
      <div class="row" *ngIf="categoryContents?.length <= 0 && !isProcessing">
        <div class="col-12">
          <app-empty-record></app-empty-record>
        </div>
      </div>
      <div class="spinner-wrapper" *ngIf="isProcessing && categoryContents?.length <=0">
        <mat-spinner></mat-spinner>
      </div>
      <mat-accordion [multi]="false" class="remove-accordion-shadow">
        <mat-expansion-panel *ngFor="let item of categoryContents" (opened)="onCategoryOpen(item)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>{{item?.name}}</b>
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>{{item?.description}}</p>
          <div class="">
            <mat-form-field class="full-width" appearance="outline">
              <mat-icon matSuffix>search</mat-icon>
              <input matInput placeholder="Search Solution content" (keyup)="onSearch($event?.target?.value)"
                autocomplete="off">
            </mat-form-field>
          </div>
          <div class="spinner-wrapper" *ngIf="isProcessingFolders && categoryFolders?.length <=0">
            <mat-spinner></mat-spinner>
          </div>
          <mat-list role="list">
            <mat-list-item class="mb-3" role="listitem" *ngFor="let folder of categoryFolders;">
              <div class="cursor-pointer text-primary bb-2" (click)="viewFolderDetail(folder?.id, folder?.name)">
                {{folder?.name}}
                <p class="folder-description">{{folder?.description}}</p>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>

</app-main-nav>