<app-main-nav [isProcessing]="isProcessing">
  <app-breadcrumb-actions class="full-width" [pageHeaderOptions]="pageHeaderOptions"
    (dataRefreshed)="onDataRefreshed($event)"></app-breadcrumb-actions>
  <mat-card class="mb-3 mt-3">
    <mat-card-header class="full-width mat-card-header-text-full-width text-center">
      <mat-card-title>Import file and validate data</mat-card-title>
      <mat-card-subtitle>Download product upload template from <a
          href="/assets/STOREFRONT PRODUCT BULK UPLOAD TEMPLATE.xlsx" download><strong>here</strong></a>, populate and
        upload </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="text-center">

        <input type="file" id="file" class="inputfile" (change)="onFileUploadChange($event)"
          accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
        <label  for="file">Choose a file</label><br>
        <span class="text-info font-weight-lighter">{{fileName}}</span>
      </div>
      <form [formGroup]="columnDefinitionFormGroup" (ngSubmit)="validateData()" class="mt-5"
        *ngIf="headers?.length > 0">
        <div class="row" formArrayName="columns">
          <div class="col-lg-6 row">
            <div class="col-6">
              <h3>Excel Sheet Columns</h3>
            </div>
            <div class="col-6">
              <h3>System Columns</h3>
            </div>
          </div>
          <div class="col-lg-6 row hidden-md-down">
            <div class="col-6">
              <h3>Excel Sheet Columns</h3>
            </div>
            <div class="col-6">
              <h3>System Columns</h3>
            </div>
          </div>
          <div *ngFor="let columnFormGroup of clientColumnDefinitions?.controls; let i=index"
            [formGroup]="columnFormGroup" class="col-lg-6 row">
            <div class="col-6">

              <input type="hidden" formControlName="client_column_index">
              <mat-form-field class="remove-mat-form-field-underline">
                <input matInput readonly="true" formControlName="client_column">
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field>
                <mat-label>Select System Column</mat-label>
                <mat-select formControlName="server_column">
                  <mat-option *ngFor="let column of serverClientColumnNames" [value]="column?.server_name">
                    {{column?.client_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <mat-card-actions class="text-right">
          <button type="submit" [disabled]="!columnDefinitionFormGroup?.valid" mat-raised-button color="accent" >Validate
            Data</button>
        </mat-card-actions>
      </form>
    </mat-card-content>

  </mat-card>
  <mat-card *ngIf="myProducts?.length > 0">
    <mat-card-header class="full-width mat-card-header-text-full-width">
      <mat-card-title>{{myProductsToUpload?.length}} product(s) will be uploaded
        <button type="button" [disabled]="myProductsToUpload?.length <= 0" mat-raised-button color="primary"
          class="pull-right" (click)="uploadProducts()">Upload Product</button>
      </mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <app-table-header-actions [tableHeaderOptions]="tableHeaderOption">
      </app-table-header-actions>
      <div class="table-responsive">
        <table class="table dataTable no-footer table-border-bottom">
          <thead>
            <tr role="row">
              <th class="wd-15p">Name</th>
              <th class="wd-15p">Quantity</th>
              <th class="wd-15p">Supplier Price</th>
              <th class="wd-15p">Price</th>
              <th class="wd-15p">Expirty Date</th>
              <th class="wd-15p">Low Threshhold Qty</th>
              <th class="wd-15p">Is Service</th>
              <th class="wd-15p">Vat Val</th>
              <th class="wd-15p">Vat Inc.</th>
              <th class="wd-15p">Supplier name</th>
              <th class="wd-15p">Supplier Phone #</th>
              <th class="wd-15p">Supplier Address</th>
              <th class="wd-15p">Product Cat</th>
              <th class="wd-15p">Barcode</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!isProcessing && myProducts?.length <= 0">
              <td colspan="30" class="text-center">No record(s) found</td>
            </tr>
            <tr *ngFor="let product of myProducts" [class.red-bg]="!product?.valid">
              <td>{{product?.product_name}}</td>
              <td>{{product?.quantity}}</td>
              <td>{{currency}} {{product?.supplier_price}}</td>
              <td>{{currency}} {{product?.price}}</td>
              <td>{{product?.expiry_date}}</td>
              <td>{{product?.low_stock_threshold}}</td>
              <td class="text-center">
                <i *ngIf="product?.is_service" class="fe fe-check text-primary"></i>
                <i *ngIf="!product?.is_service" class="fe fe-x text-danger"></i>
              </td>
              <td>{{product?.vat_value}}</td>
              <td class="text-center">
                <i *ngIf="product?.vat_inclusive" class="fe fe-check text-primary"></i>
                <i *ngIf="!product?.vat_inclusive" class="fe fe-x text-danger"></i>
              </td>
              <td>{{product?.supplier_name}}</td>
              <td>{{product?.supplier_phone_number}}</td>
              <td>{{product?.supplier_address}}</td>
              <td>{{product?.product_category}}</td>
              <td>{{product?.barcode}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </mat-card-content>

  </mat-card>

</app-main-nav>
