<footer class="footer" style="margin-top: 1rem;">
    <div class="container">
      <div class=" row">
        <div class="col-xl-6">
          <div class="copyright text-center text-xl-left text-muted">
            <p class="text-sm font-weight-500">Copyright {{currentYear}} © All Rights Reserved. KudiGo Inc.</p>
          </div>
        </div>
        <div class="col-xl-6">
          <p class="float-right text-sm font-weight-500"><a href="https://www.kudigo.com" target="_blank">KudiGo Inc.</a></p>
        </div>
      </div>
    </div>
  </footer>
