<div class="d-flex bd-highlight login-page">
  <div class="p-2 flex-fill bd-highlight login-controls">
<div class="mr-5 ml-5 full-width">
  <img class="login-logo mb-4" src="assets/img/logos/logo1.png" />
    <h3 class="login-title">{{message}} </h3>

    <div class="login-form-controls">

      <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit(loginFormGroup?.value)">
        <mat-form-field class="full-width rm-field-top  mt-3">
          <input matInput placeholder="OTP Code" formControlName="code" numbersOnly [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>

          <mat-hint *ngIf="code?.invalid && code?.touched"  class="text-danger">Please provide valid OTP code</mat-hint>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Enter your 6 Digit PIN</mat-label>
          <input matInput placeholder="Enter your 6 Digit PIN" [type]="hide ? 'password' : 'text'" maxlength="6" numbersOnly formControlName="password"/>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
          <mat-hint *ngIf="password?.invalid && password?.touched" class="text-danger">Enter New 6 Digit PIN</mat-hint>
        </mat-form-field>
        <mat-form-field class="full-width mb-3">
            <mat-label>Confirm your 6 Digit PIN</mat-label>
            <input matInput placeholder="Confirm your 6 Digit PIN" [type]="hideConfirmPIN ? 'password' : 'text'" maxlength="6" numbersOnly formControlName="confirm_password"/>
            <button mat-icon-button matSuffix (click)="hideConfirmPIN = !hideConfirmPIN" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPIN">
                <mat-icon>{{hideConfirmPIN ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            <mat-hint *ngIf="confirm_password?.invalid && confirm_password?.touched" class="text-danger">The PIN do not match</mat-hint>
          </mat-form-field>

        <mat-progress-bar class="mb-0" *ngIf="isProcessing" mode="indeterminate">
        </mat-progress-bar>
        <button mat-raised-button color="primary" [disabled]="loginFormGroup?.invalid || isProcessing" class="full-width">CREATE PIN</button>
        <div class="text-center mt-2">
          <p class="text-muted login-detail">No Code Yet? <br> <a href="javascript:void();"  class="forgot-pin-text mb-0" (click)="resendOTP(false)">Resend Via SMS</a> or <a href="javascript:void();"  class="forgot-pin-text mb-0" (click)="resendOTP(true)">Try WhatsApp Again</a> </p>
        </div>
      </form>

    </div>
</div>
  </div>
  <div class="flex-fill bd-highlight image-cover hidden-md-down">

    <div class="bottom-text">
      <h4 class="bottom-text-title">Smarter way of doing business</h4>
      <p class="bottom-text-description">We help you run your business The New Smart way</p>
    </div>
  </div>
</div>
