$mat-accent: (
  50: #fbf9fc,
  100: #f5f4f6,
  200: #eeecef,
  300: #dfdee0,
  400: #bcbbbd,
  500: #9d9c9e,
  600: #747375,
  700: #605f61,
  800: #414042,
  900: #201f21,
  A100: #f5f4f6,
  A200: #eeecef,
  A400: #bcbbbd,
  A700: #414042,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);
