<h1 mat-dialog-title>{{editStockModalTitle}}</h1>
<mat-progress-bar mode="indeterminate" *ngIf="isProcessing"></mat-progress-bar>

  <div class="row" mat-dialog-content>
    <mat-form-field class="col-12">
      <mat-label>Select Customer Group</mat-label>
      <mat-select [formControl]="productGroupId">
        <mat-option *ngFor="let item of productGroups" [value]="item?.id">{{item?.name}}</mat-option>
      </mat-select>
      <mat-hint class="text-danger" *ngIf="!productGroupId?.valid && productGroupId?.touched">Please select Customer Group</mat-hint>
    </mat-form-field>

  </div>

  <mat-dialog-actions class="text-right">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" [disabled]="!productGroupId?.valid || isProcessing"
      type="button" (click)="onSubmit()">Save</button>
  </mat-dialog-actions>

